<% if current_page?(root_path) || current_page?(lists_path) %>
<div class="home-banner" >
  <div class="index-container-searchAndFilter">
    <div class="index-container-filter">
      <div>filter by: </div>
      <div>price</div>
      <div>type of class</div>
    </div>
    <div class="index-container-sort">
      <div>sort by:</div>
      <div>likes</div>
    </div>
    <div class="index-container-map">
      <div>map</div>
    </div>
  </div>
</div>
<% end %>
<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-xs-12 col-sm-6 col-md-4 colx">
      <%= render 'shared/card', list: list %>
    </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'plugins/sort_list' %>


