   <div class="home-banner" style="background-image: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'LISTA-BANNER-1.jpg' %>');">
    <div class="banner-content">
      <h1>share your favorite places</h1>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= link_to "", list_path(list)%>
      <div class="card">
        <%= link_to "", list_path(list), class: 'card-link' %>
        <div class="card-description" class ="card-label">
          <%= list.name %>
          <div class="card-likes"></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 </div>
