// For example:
$yellow: #FADA5E;
$blue: #167FFB;
$red: #AF0F00;
$orange: #E67E22;
$green: #728C00;
$gray: #0E0000;
$light-gray: #F4F4F4;


$my-green: #0294A5;


$my-blue: #000080;

$my-yellow: #FADA5E;
$goldy: #ffc60b;


$my-red: #AF0F00;
$red_dark: #831212;
$red_bright: #c82121;

$green_dark: #005542;
$green_bright: #729d39;


$black: #1d1919;
$black_opec: #222831;


$blueish: #0075f6;
$blue_light: #5893d4;
$blue_dark: #0900c3;
$blue_opec: #1b335f;




