// For example:
$yellow: #FADA5E;
$blue: #167FFB;
$red: #AF0F00;
$orange: #E67E22;
$green: #728C00;
$gray: #0E0000;
$light-gray: #F4F4F4;


$my-green: #0294A5;


$my-blue: #000080;

$my-yellow: #FADA5E;

$my-red: #AF0F00;
