.place-image{
width: 100%;
height: auto;
}

#left-part {
  height: 100vh;
  position: sticky;
  top: 0;
  padding-right: 30px;
}

#edit-container {
  margin-top: 30px;
}

#place-div {
  border-bottom: 1px solid $my-green;
}
