.user-profile-container {
  margin: 7vh 10% 7vh 10%;
  display: flex;
justify-content: space-around;
  flex-direction: column;
}

.photo {
  width: 300px;
  height: 300px;
  padding: 0;
  display: inline-block;
  float: left;
  img{
  // border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
}

.section {
  margin: 15px;
}

.bio-section {
  // margin-left:
  // margin-right:
  // padding-left: 50px;
}

.top-section {
  margin-bottom: 45px;
  padding-bottom: 45px;
  border-bottom: 2px solid rgba(2, 148, 165, 0.5);
}

.name {
  padding-top: 30px;
  font-size: 1.9rem;
  margin-bottom: -5px;
}

.handle {
  font-size: 1.2rem;
  margin-top: -2px;
}

.no-bullets {
  list-style-type: none;
}

ul {
  list-style: none;
  padding-left: 0;
  display: inline;
  float: left;
}

i {
display: inline;
float: left;
margin: 2px;
}

li {
  display: inline-block;
}

.clickable {
  cursor:pointer;
  outline:none;
  color: black;
  display: inline;
  float: left;
    &:hover {
    text-decoration: none;
    color: rgba(2, 148, 165, 1);
  }
}

.clickable-grey {
  cursor:pointer;
  outline:none;
  color: gray;
  display: inline;
  float: left;
  &:hover {
    text-decoration: none;
    color: rgba(2, 148, 165, 0.8);
  }
}

#clickable a{
  outline:none;
  color: black;
    &:hover {
    text-decoration: none;
    color: rgba(2, 148, 165, 1);
  }
}

.follow {
  margin-top: 10px;
  padding-left: 15px;
}

.list-section {
  margin-bottom: 30px;
}

#mylist {
  font-size: 1.3em;
}

#myfavs {
  font-size: 1.3em;
}

h3 {
  text-align: center;
}

