

<div class = "list-container user-wrapper">
  <div class="lists-container user-profile-container">
<h1></h1>

<p><strong>Email:</strong> <%=@user.email %></p>
<p><%= @user.photo %></p>

<div><%= render 'follow_form' if user_signed_in? %></div>

</div>
</div>
