<div class="btn-group" id ="btn-group-id">
<button class="btn btn-simple" type="button" id="sort-by-label" clickable="false">
    Sort by:
</button>

<div class="dropdown" id="sort-by-dropdown">
  <button class="btn btn-create dropdown-toggle" id="current-sort-by" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Likes
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Likes</a>
    <a class="dropdown-item" href="#">Date</a>
    <a class="dropdown-item" href="#">Author</a>
  </div>
</div>
</div>

<%= javascript_pack_tag 'plugins/dropdown' %>






