<div class="footer" <%= ("id=footer-list-show" if !current_page?(root_path) && !current_page?(new_user_session_path) && !current_page?(new_user_registration_path) && !current_page?(new_user_password_path) && current_page?(list_path)) %> >
  <div class="footer-copyright">
    © 2019 lista
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
