<div class="footer" <%="id=footer-list-show" if !params[:id].nil? %> >
  <div class="footer-copyright">
    © Hobby Horse Prototypo by Harrison Davies
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i>Contact</a>
  </div>
</div>
