<!-- <footer class="fixed-bottom"> -->
<br><br><br>
<div class="footer">
  <div class="footer-copyright">
    © 2019 lista
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
