<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a Workshop!</h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for(List.new, html: {type: "html", data: {controller: "submit" }} ) do |form| %>
        <%= form.input :name, as: :text, :input_html => {:rows => 1}, label: 'Give it a name:', placeholder: "Hell's Kitchen, Ricky's Bar", required: true %>
        <%= form.input :category, label: "Select a best fit:", as: :radio_buttons, collection: ['Art', 'Business Skills', 'Crafts', 'Dance', 'Drinks and Tasting', 'Food', 'Health and Beauty', 'Languages', 'Mindfulness and Wellbeing', 'Music', 'Photography', 'Technology', 'Sports','Other'], wrapper: :vertical_collection_inline %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-info ">
              <%= form.button :submit, "Start!", data: { disable_with: false } %>
        </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
