

<div  style="width: 100%">
   <div class="home-banner" style="background-image: linear-gradient(-90deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path 'LISTA-BANNER-1.jpg' %>');">
    <div class="banner-content">
      <strong> <h1>Welcome to FOSTR</h1> </strong>
      <p>Find Your Perfect Foster Pup</p>
    </div>
  </div>
</div>
