.btn{
color: white;
width: 130px;
}

.btn-info{
  a{
    text-decoration: none;
  padding: 0.375rem 0.75rem;
}
}

// .btn-info{ &:hover {
//   a:hover{
//     background-color: #fb7268;
//     color: gray;}
// }

.btn-render{
  margin-top:1rem;
  margin-bottom:1rem;
  padding: 0.375rem 0.75rem;
  background-color: white !important;
  color: black !important;
}

.btn-render{
  a{
    &:hover{
      // background-color: #fb7268;
    color: gray;
                }
    }
}

.btn-create{
  color: $my-green;
  height: 40px;
  border: 1px solid lightgrey;
}

.btn-simple{
  color: black;
  height: 40px;
  border: 1px solid lightgrey;
}

#btn-group-id{
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
}

#sort-by-label {
  width: 50%;
}

.btn-copy{
  background-color: $my-green;
  border: transparent;
  padding: 10px;
  min-width: 100px;
  // color: #fff;
}
.btn-copy:hover, .btn-copy:focus{
  // background-color: #48A1C1;
  border-bottom: 2px solid #38AFDD;
  /*transition cross browser*/
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition:all .3s ease-in;
  -o-transition: all .3s ease-in;
}


// a.btn-link::after{
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: #000;
//     transition: width .3s;
// }

// a.btn-link:hover::after {
//     width: 100%;
//     transition: width .3s;
// }
