.btn{
color: white;
width: 130px;
}

.btn-info{
  a{
    text-decoration: none;
  padding: 0.375rem 0.75rem;
}
}

// .btn-info{ &:hover {
//   a:hover{
//     background-color: #fb7268;
//     color: gray;}
// }

.btn-render{
  margin-top:1rem;
  margin-bottom:1rem;
  padding: 0.375rem 0.75rem;
  background-color: white !important;
  color: black !important;
}

.btn-render{
  a{
    &:hover{
      // background-color: #fb7268;
    color: gray;
                }
    }
}

.btn-create{
  color: $my-green;
  height: 40px;
  border: 1px solid grey;
}


// a.btn-link::after{
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: #000;
//     transition: width .3s;
// }

// a.btn-link:hover::after {
//     width: 100%;
//     transition: width .3s;
// }
