.style-foot{
  background-color: grey;
  border-radius: 5px;
  border-style: outset;
  border-color: #0085ad;
  min-width: 500px;
}

.i-title{
  background-color: white;
  border-bottom: 1px solid black;
  font-family: 'Open Sans', sans-serif, bold;
  padding: 5px;
}

.sign-up{
  background-color: #FA000B;
  padding: 10px;
  text-align: center;
  line-height: 1.2;
  font-family: 'Saira Stencil One', cursive;
  font-size: 24px;
  border-radius: 2px;
}


