// .card {
//   height: 70vh;
//   text-shadow: 0 1px 1px rgba(0,0,0,0.1);
//   background-size: cover !important;
//   background-position: center;
//   position: relative;

// }

// #card-custom-attributes{
//  border-radius: 3px;
//  border: none;
//  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
//  transition: box-shadow 0.1s ease-in-out;
// }

// .card-user {
//   position: absolute;
//   right: 10px;
//   top: -210px;
//   width: 40px;
//   border-radius: 50%;
//   border: white 1px solid;
// }

// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 15px;
//   text-transform: uppercase;
// }

// .card-content{
//   position: absolute;
//   text-transform: capitalize;
//   bottom: 0;
//   width: 100%;
//   padding: 7px;
//   background-color: white;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   z-index: 4;


//   .card a{
//     color: gray;

//   }

//   .card p{
//     margin: 0;
//     font-size: 12px;
//     opacity: .7;
//         overflow: hidden;
//     text-overflow: ellipsis;
//   }

//   .card h3{
//     margin: 0;
//     font-size: 16px;
//     font-family: kano;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }

// .card-name{
//       white-space: nowrap;
//     overflow: hidden;
//     margin-right:10px;
// }


// .card-likes{
// display: flex;
// align-items: center;
// }

// .card-heart-position{
//   margin-right: 5px;
//   z-index: 100;
// }

// #font-likes{
//   font-family: kano;
// }
// .card-description {
//   position: absolute;
//   text-align: center;
//   bottom: 10px;
//   left: 10px;
//   // z-index: 1;
//   color: black;
// }

// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 14px;
//   opacity: 0.8;
//   font-weight: lighter;
// }

// .card-text-bottom{
//   // z-index:2;
// }

// .image{
//   border-radius:3px;
// }

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 3;
//   background: black;
//   opacity: 0;
// }
//  #card-custom-attributes:hover {
//    // opacity: 0.1;
//    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.3);
//    transition-delay: 20ms;
//   //  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
//   // transition: box-shadow 0.3s ease-in-out;
//  }

// .card .pulse {
//   color: #FB7268 !important;
//   &:hover {
//     // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
//     // text-decoration: none;
//     transition-delay: 50ms;
//   }
// }


// .button-link{
//   background-color: $my-green;
//   text-decoration: none;
// }
//  .button-link:hover {
//    opacity: 0.5;
//    transition-delay: 30ms;
//   text-decoration: none;
//  }
$card-font-size: 1rem;
$card-width: 23vw;
$card-font-weight: 800;
.card {
  box-shadow: 2px 4px 7px rgba(181, 245, 215, 0.6);
  height: 30rem;
  max-height: 30rem ;
  width: $card-width;
  display: flex;
  .card-img {
    background-color: blue;
    height: 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .places-container-likesHeart {
      position: absolute;
      top: 0;
      right: 0;
      .fa-heart {
        font-size: 1.4rem !important;
      }
    }
  }

  .card-container-title {
    text-align: center;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    height: 10rem;
    .card-content-infoCard {
      border: 1px solid black;
      padding: 0.3rem;
      border-radius: 0.5rem;
      font-size: 0.75rem;
    }
  }
  .card-container-infoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .card-container-reviews {
      display: flex;
      align-items: center;
      justify-content: center;
      .card-container-footerInfo {
        font-size: 0.6rem;
      }
    }
    .card-container-clickableInfo {
      display: flex;
      width: 70%;
      justify-content: space-between;
      .card-container-footerInfo {
        font-size: 0.6rem;
      }
    }
  }
  .card-container-location {
    font-size: 0.6rem;
    min-height: 1.4rem;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    max-width: $card-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .places-container-cardData {
    color: $gray;
    padding: 0.5rem;
  }
  .places-container-cardInfo {
    display: flex;
    flex-direction: column;
    max-height: 20%;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    .places-container-cardTitle {
      .places-text-cardTitle {
        overflow-wrap: break-word;
        font-size: $card-font-size;
        font-weight: $card-font-weight;
        text-overflow: ellipsis;
        padding: 0.5rem;
        min-height: 3rem;
      }
    }
  }
}

