.style-foot{
  background-color: grey;
  border-radius: 5px;
  border-style: outset;
  border-color: #0085ad;
  min-width: 500px;
}

.i-title{
  background-color: white;
  border-bottom: 1px solid black;
  font-family: 'Open Sans', sans-serif, bold;
  padding: 5px;
}

.sign-up{
  background-color: #FA000B;
  text-decoration: none;
  font-family: 'Saira Stencil One', cursive;
  font-size: 18px;
  border-radius: 2px;
  justify-content: space-around;
  a{
      color: white !important;
      text-align: center;
  }
}

.in-line-icons{
  display: flex;
  a{

  justify-content: space-around;
  vertical-align: center;
  text-align: center;

  }
}
