.container-headline{
  text-align:center;
}

.inner-form-container {
  padding: 15px;
  // border: 1px solid #0294A5;
  // border-radius: 4px;
  // box-shadow: inset 0 0.1px .5px rgba(2, 48, 165, .4), 0 0 0 1px #0294A5;
  border:transparent;
  border-bottom: 1px rgba(2, 48, 165, .4);
  display: flex;
  justify-content: center;
  text-align: center;
  background: white;
}

.form-container{
  padding: 15px;
  display: flex;
  justify-content: center;
  background: white;
}

.form-newplace-container{
  background:#f1f3f4;
  margin:15px;
}


.container-headline{
  text-align:center;
  padding: 15px;
  margin-top: 25px;
  background: white;
}


#form-button{
  color: white;

}

.list-container-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form{
margin: 10px;
justify-content: start;
}

.form-list-show{
  border-bottom: 1px solid $my-green !important;
      display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.form-control{
  border: transparent;
  border-bottom: 1px solid $my-green !important;
  font-weight: bold;
  text-align: left;
  padding: 0 !important;
}

#list_name_edit{
  border-bottom: 0px !important;
  font-size: 40px;
  color: black;
}

.delete-link{
  margin:10px;
}
