#form-container{
  margin-top: 1rem;
}
.list-container{
  display: flex;
  justify-content: center;
  // flex-direction: column;
}

.headline-container{
  justify-content:center;
}

.lists-container{
  justify-content: space-around;
  padding: 15px;
  text-align: center;
}

.list-newplace-container{
  background:#f1f3f4;
  margin:15px;
}

.list-show-wrapper{
  // padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.list-show-container{
  flex-direction: column;
  padding: 0px;
  width: 55vw;
  //flex-grow: .6;
}

@media(max-width: 768px) {
  .list-show-container {
    width: 100vw;
  }
}

.title-show-container{
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
  flex-direction: column;
  padding:10px;
  // position:relative;
  border-bottom: 1px rgba(2, 48, 165, .4) !important;
  margin-bottom: 10px;
  color:white !important;
  height: 65vh;
  background-position: center;
  background-size: cover;
}

@media(max-width: 768px) {
  .title-show-container {
    height: 30vh;
  }
}

.list-title-info{
  flex-direction: row;
  display:flex;
  justify-content: space-between; a{
    color: gray;
    text-decoration: none; &:hover{
      color: $my-green;
    }
  }
}

.list-heart a{
color: #FB7268 !important;
}

.like-list{
  display: flex;
  justify-content: space-between;
  margin-left: 10px; a{
    margin: 0 2px 0;
  }
}

.inner-show-container{
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-right:96px;
}

@media(max-width: 768px) {
  .inner-show-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.map-lists-container{
  width: 45vw;
  flex: display;
  //flex-grow: .4;
}

#map {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

@media(max-width: 768px) {
  .map-lists-container {
    display: none;
  }
}

.user-wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.user-profile-container{
display: flex;
padding: 15px;
justify-content: space-around;
  flex-direction: column;
}

.user-profile-inner-container{
  justify-content:space-around;
}

.centered-photo{
 margin: 0 auto;
}

.centered-photo img{
 //height: 300px;
 width: 500px;
}

@media(max-width: 768px) {
  .centered-photo img{
   width: 100%;
   height: 100%;
  }
}

.list-place-title{
  display:flex;
 }
 .address-list-show{
  color: gray !important;
  font-size: .75rem;
  letter-spacing: .02rem;
 }

 .list-info{
  justify-content:space-between;;
 }

 .buttons-list-show{
  display:flex;
  color:gray;
 }


.title-likes-container{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px rgba(2, 48, 165, .4) !important;
  margin: 15px 0px 10px 10px;
}




