#form-container{
  margin-top: 1rem;
}
.list-container{
  display: flex;
  justify-content: center;
  // flex-direction: column;
}

.headline-container{
  justify-content:center;
}

.lists-container{
  justify-content: space-around;
  padding: 15px;
  text-align: center;
}


.list-newplace-container{
  background:#f1f3f4;
  margin:15px;
}



.list-show-wrapper{
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.list-show-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 60%''
}


.map-lists-container{
  width: 45vw;
  flex: display;
}

#map {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.user-wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.user-profile-container{
display: flex;
padding: 15px;
justify-content: space-around;
  flex-direction: column;
}

.user-profile-inner-container{
  justify-content:space-around;
}

