.list-container{
  display: flex;
  position:relative;
  justify-content: center;
}


.lists-container{
  position:absolute;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
}


.map-lists-container{
  justify-content: flex-end;
}
