#italic-hl {
  // color: $my-green;
  font-style: italic;
}

.navbar-title{
  font-family: 'Bungee Shade';
  font-size: 32px;
}

#banner-headline-hl {
  color: white;
  font-style: italic;
}

#navbar-banner-lewagon{
  background-color: transparent;
  opacity: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: none;
  span{
    color: $my-green; &:hover{
      color:gray !important;
    }
  }
  .nav-link{
    color: white;
  }
   .search-bar {
    flex-grow: .7 !important;}

  /* change navbar background on collapse */
  .navbar-collapse{
  @media (max-width: 768px) {
    background-color: #010209;
    opacity: 0.85;
  }}

  // toggler for mobile is lighter

  @media (max-width: 768px) {
    .navbar-toggler{
    background-color: #fff !important;
    opacity:0.5;
  }}
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.navbar-lewagon {
  display: flex;
  background: white;
  box-shadow: 0px 1px 1px -1px #c1c1c1bf; //0px 15px 10px -15px #111;
  // border-bottom: solid 1px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  justify-content: space-between;

  a {
    margin-right: 20px;
  }

  .navbar-brand span{
    &:hover{
      color:gray !important;
    }
  }

 a#navbar-lewagon-hover-border {
  &:hover{
    border-bottom: solid 1px rgba(100,50,50,1) !important;
  }
 }

  a.nav-link {
  color:black;
    &:hover {
    color: gray !important;
    transition-delay: 30ms;
    text-decoration: none;
    }
    }

  .navbar-brand img {
    width: 40px;
  }
  .search-bar {
    flex-grow: .42;
    form {
      width: 100%;
    }
    #query {
      border-radius: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: #f1f3f4;
      outline: none;
      text-align: center;
      width: 100%;
    }
  }
  .navbar-collapse {
    flex-grow: 0;
    .nav-link-create-list{
      color: $my-green !important;
      &:hover {
        color: rgba (2, 148, 165, 0.5);
        border-bottom: 4px #0294A5;
      }
    }
    .nav-item{
      // color: $my-green;
    }
    .nav-item-active{
      justify-content: space-between;
      display: flex;
      align-items: center;
      margin:20px;
    }
    .dropdown-menu{
      background: white;
    }
  }
}

.navbar-brand{
color: $my-green !important;
}

.navbar-nav{
flex-direction: row;
width: 100%;
}



// a.navbar-brand{
//   color: #0294A5;
//   &:hover {
//     color: gray;
//     transition-delay: 30ms;
//     text-decoration: none;
//     border-bottom: 4px #0294A5 !important;
//     }
// }
