<h1>Sign UP</h1>


<div class="classpass">

  <div class="cone">
    <div class="ctwo">
      <p>photo</p></div>
      <div class="c-credentials">
        <div class="c-infor">
          <div class="cthree">p.user</div>
          <div class="cfour">information.with.btns</div>
        </div>
        <div class="c-bttns">
          <p>in.line list with icons</p>
        </div>
      </div>
  </div>

   <div class="cone">
    <div class="ctwo">

      <div class="cthree"></div>
    </div>
  </div>

 <div class="cone">
    <div class="ctwo">
      <div class="cthree"></div>
    </div>
  </div>

</div>
