<h1>Places#new</h1>
<p>Find me in app/views/places/new.html.erb</p>

<%= simple_form_for(@place, url: list_places_path) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.submit 'Create list', class: 'btn btn-info'%>
  <!-- [...] -->
<% end %>
